.App {
  text-align: center;
  .AB
  {
    background-color: rgb(239, 248, 248);
  }
  .CD
  {
    background-color: rgb(239, 236, 243);
  }
  .VI
  {
    background-color:crimson;
  }
  .NO
  {
    background-color: brown;
  }
  .TH
  {
    background-color: cadetblue;
  }
  .KU
  {
    background-color: cornflowerblue;
  }
  .MA
  {
    background-color: chartreuse;
  }
  .QW
  {
    background-color: darkviolet;
  }
  .TY
  {
    background-color: darkslategray;
  }
  .IO
  {
    background-color: gold;
  }
  .GH
  {
    background-color: magenta;
  }
}

